body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-style: italic;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  padding-top: 5%;
}

a {
  color: #fdc300;
  text-decoration: none;
}

.section {
  padding-top: 8%;
  padding-bottom: 10%;
  text-align: center;
}

.section.dark {
  background-color: #202020;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .section {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (max-width: 479px) {}